spring.application.name=quoteotaku
spring.application.corsOrigin=

data.subtitles.directory=data/PreprocessedSubtitles
controller.subtitles.correspondingSubtitlesAboveorBelows=

spring.elasticsearch.bootstrap-servers=
spring.elasticsearch.user=
spring.elasticsearch.password=

spring.kafka.bootstrap-servers=
spring.kafka.consumer.group-id=
spring.kafka.consumer.auto-offset-reset=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=